node_modules
*vscode
MiniBay_Android/npm-debug.log
MiniBay_Android/.gradle

#for android studio
*.iml
.idea/
MiniBay_Android/.idea/
MiniBay_Android/.gradle/
MiniBay_Android/local.properties
MiniBay_Android/.idea/workspace.xml
MiniBay_Android/.idea/libraries
.DS_Store
MiniBay_Android/build
MiniBay_Android/captures
MiniBay_Android/.externalNativeBuild


#built application files
*.apk
*.ap_

