node_modules
*vscode
npm-debug.log

# for android studio
*.iml
.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild


#built application files
*.apk
*.ap_

