/* Reset CSS */
html {
  box-sizing: border-box; }

html, body {
  height: 100%;
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

img {
  width: 100%;
  height: auto; }

/****
 * Variables 
 ****/
/* colors */
/* Layout */
/* Utility Helpers */
.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.right {
  float: right; }

.size-thumb {
  width: 64px;
  height: auto; }
  .size-thumb.large {
    width: 80px; }

.center {
  text-align: center; }

.red {
  color: #f67623; }

.grey {
  color: rgba(35, 35, 35, 0.4); }

.relative {
  position: relative; }

/****
 * Components 
 ****/
.btn-customize {
  display: inline-block;
  height: 36px;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 4px -1px rgba(35, 35, 35, 0.12), 0 4px 6px -2px rgba(3, 18, 9, 0.12);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(35, 35, 35, 0.8);
  transition: all 0.3s ease; }
  .btn-customize:hover {
    box-shadow: 0 0 12px -3px rgba(3, 18, 9, 0.08), 0 10px 16px -2px rgba(3, 18, 9, 0.12); }

.dot {
  position: absolute;
  display: block;
  font-size: 20px;
  line-height: 24px;
  padding: 4px;
  background-color: #20c164;
  border-radius: 16px;
  text-align: center;
  min-width: 32px;
  color: #fff;
  top: 4px;
  right: -16px;
  box-shadow: 0 2px 2px rgba(35, 35, 35, 0.2); }

/* Layout */
.flex-wrap {
  display: flex;
  flex-wrap: wrap; }
  .flex-wrap > *:not(last-child) {
    margin-right: 32px; }
  .flex-wrap.vertical {
    flex-wrap: nowrap;
    height: 100%;
    flex-direction: column;
    justify-content: space-between; }
    .flex-wrap.vertical > *:not(last-child) {
      margin-right: 0; }
    .flex-wrap.vertical .card:not(last-child) {
      margin-bottom: 32px; }
    .flex-wrap.vertical .card:nth-child(2) {
      flex-grow: 1; }

/* Global */
body {
  font-family: 'Source Sans Pro', "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #F1F3F2;
  color: #232323; }

.dashboard {
  height: 100%; }

/* Sidebar */
.sidebar {
  float: left;
  height: 100%;
  width: 15%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.app-title {
  flex-grow: 1;
  padding: 16px;
  background-color: #343434;
  color: #fff;
  font-size: 1.6em; }

/* Main Content */
.main {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  height: 100%; }
  .main > *:first-child {
    width: 60%;
    margin-right: 32px; }
  .main > *:last-child {
    flex-grow: 1; }

.col-title {
  font-size: 1.25em;
  font-weight: 300;
  margin-bottom: 32px; }

/* Card */
.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.12), 0 0 6px -2px rgba(0, 0, 0, 0.08);
  padding: 32px; }
  .card .card-header {
    position: relative;
    margin-bottom: 16px; }
    .card .card-header .btn {
      position: absolute;
      top: 0;
      right: 0; }
  .card .card-title {
    font-size: 32px;
    font-weight: 700; }
  .card .card-subtitle {
    font-size: 16px;
    color: rgba(35, 35, 35, 0.4); }
  .card .card-extra {
    margin-top: 16px;
    background-color: #20c164;
    margin-left: -32px;
    margin-right: -32px;
    margin-bottom: -32px;
    padding: 32px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
    .card .card-extra .card-title {
      color: #fff; }
    .card .card-extra .card-subtitle {
      color: rgba(255, 255, 255, 0.7); }

/* Charts */
.daily-charts {
  display: flex;
  flex-wrap: wrap; }
  .daily-charts .chart {
    width: 50%; }

.chart {
  position: relative;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px; }
  .chart .chart-info {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-56%);
    font-size: 36px;
    font-weight: 300;
    color: rgba(35, 35, 35, 0.8);
    line-height: 1; }
  .chart .chart-name {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #20c164; }
  .chart.red .chart-name {
    color: #f67623; }

/* suggestion list */
.suggestion-list {
  margin-top: 16px; }

/* Inventory List */
.category-list:not(last-child) {
  margin-bottom: 32px; }
.category-list header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(35, 35, 35, 0.1);
  margin-bottom: 16px; }
  .category-list header h4 {
    font-size: 20px;
    font-weight: 400; }
  .category-list header p {
    font-size: 14px;
    color: rgba(35, 35, 35, 0.4); }
.category-list .number {
  font-size: 20px;
  color: #20c164; }

#eat-soon-list > li:nth-child(1) img {
  animation: enhance 10s ease-in-out 3s infinite; }
#eat-soon-list > li:nth-child(2) img {
  animation: enhance 10s ease-in-out 6s infinite; }
#eat-soon-list > li:nth-child(3) img {
  animation: enhance 10s ease-in-out 9s infinite; }

/* Animation */
@keyframes enhance {
  0% {
    transform: scale(1) rotate(0); }

  5% {
    transform: scale(1.2) rotate(0); }

  10% {
    transform: scale(1) rotate(0); } }
