/* Reset CSS */
html {
    box-sizing: border-box;
}
html, body {
  height: 100%;
  overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

/****
 * Variables 
 ****/
/* colors */
$black: #232323;
$green: #20C164;
$green-dark: darken($green, 40%);
$red: #F67623;
/* Layout */
$padding: 32px;

/* Utility Helpers */
.clearfix:after {
    content:"";
    display:block;
    clear:both;
}
.right {
    float: right;
}
.size-thumb {
    width: 64px;
    height: auto;

    &.large {
        width: 80px;
    }
}
.center {
    text-align: center;
}
.red {
    color: $red;
}
.grey {
    color: rgba($black, 0.4);
}
.relative {
    position: relative;
}

/****
 * Components 
 ****/
 .btn-customize {
     display: inline-block;
     height: 36px;
     padding: 8px 12px;
     background-color: #fff;
     border-radius: 18px;
     box-shadow: 0 0 4px -1px rgba($black,0.12), 0 4px 6px -2px rgba($green-dark,0.12);

     font-size: 16px;
     font-weight: 600;
     line-height: 20px;
     text-transform: uppercase;
     color: rgba($black, 0.8);

     transition: all 0.3s ease;

     &:hover {
        box-shadow: 0 0 12px -3px rgba($green-dark,0.08), 0 10px 16px -2px rgba($green-dark,0.12);
     }

 }
 .dot {
     position: absolute;
     display: block;
     font-size: 20px;
     line-height: 24px;
     padding: 4px;
     background-color: $green;
     border-radius: 16px;
     text-align: center;
     min-width: 32px;
     color: #fff;
     top: 4px;
     right: -16px;
     box-shadow: 0 2px 2px rgba($black, 0.2);
 }



/* Layout */
.flex-wrap {
    display: flex;
    flex-wrap: wrap;

    > *:not(last-child) {
        margin-right: $padding;
    }

    &.vertical {
        flex-wrap: nowrap;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;

        > *:not(last-child) {
            margin-right: 0;
        }

        .card:not(last-child) {
            margin-bottom: $padding;
        }
        .card:nth-child(2) {
            flex-grow: 1;
        }
    }
}

/* Global */
body {
    font-family: 'Source Sans Pro', "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #F1F3F2;
    color: $black;
}
.dashboard {
    height: 100%;
}

/* Sidebar */
.sidebar {
    float: left;
    height: 100%;
    width: 15%;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.app-title {
    flex-grow: 1;

    padding: 16px;
    background-color: #343434;
    color: #fff;
    font-size: 1.6em;
}

/* Main Content */
.main {
    display: flex;
    justify-content: space-between;
    padding: $padding;
    height: 100%;

    > *:first-child {
        width: 60%;
        margin-right: $padding;
    }

    > *:last-child {
        flex-grow:1;
    }
}
.col-title {
    font-size: 1.25em;
    font-weight: 300;
    margin-bottom: $padding;
}

/* Card */
.card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.12), 0 0 6px -2px rgba(0,0,0,0.08);
    padding: $padding;

    // & + & {
    //     margin-top: $padding;
    // }
    .card-header {
        position: relative;
        margin-bottom: $padding/2;

        .btn {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .card-title {
        font-size: 32px;
        font-weight: 700;
    }
    .card-subtitle {
        font-size: 16px;
        color: rgba($black, 0.4);
    }

    .card-extra {
        margin-top: $padding/2;
        background-color: $green;
        margin-left: -$padding;
        margin-right: -$padding;
        margin-bottom: -$padding;
        padding: $padding;

        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        .card-title {
            color: #fff;
        }

        .card-subtitle {
            color: rgba(#fff, 0.7);
        }
    }
}

/* Charts */
.daily-charts {
    display: flex;
    flex-wrap: wrap;

    .chart {
        width: 50%;
    }
}
.chart {
    position: relative;
    text-align: center;

    margin-top: $padding/2;
    margin-bottom: $padding/2;

    .chart-info {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-56%);
        font-size: 36px;
        font-weight: 300;
        color: rgba($black, 0.8);
        line-height: 1;
    }
    .chart-name {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: $green;
    }

    &.red {
        .chart-name {
            color: $red;
        }
    }
}

/* suggestion list */
.suggestion-list {
    margin-top: $padding / 2;
}

/* Inventory List */
.category-list {
    &:not(last-child) {
        margin-bottom: $padding;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding-bottom: $padding/2;
        border-bottom: 1px solid rgba($black, 0.1);
        margin-bottom: $padding/2;

        h4 {
            font-size: 20px;
            font-weight: 400;
        }
        p {
            font-size: 14px;
            color: rgba($black, 0.4);
        }
    }

    .number {
        font-size: 20px;
        color: $green;
    }
}



#eat-soon-list > li{
    @for $i from 1 through 3 {
        &:nth-child(#{$i}) img {
            animation: enhance 10s ease-in-out $i*3s infinite;
        }
    }
}

.enhance {
    // animation: enhance 10s ease-in-out infinite;
}


/* Animation */
@keyframes enhance {
    0%  {
        transform: scale(1) rotate(0);
    }
   
    5%  {
        transform: scale(1.2) rotate(0);
    }
   
    10%  {
        transform: scale(1) rotate(0);
    }
}